body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
h1 {
    line-height: 37px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 37px;
    color: #000000;
}
h2 {
    font-size: 25px;
    line-height: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    font-size: 18px;
    color: #666;
}
p {
    font-size: 18px;
    line-height: 27px;
    color: #333;
}
